*{
    margin: 0;
    padding: 0;
}

header{
    height: 19.964vh;
    width: 100vw;
    background: #8D8484;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
}

main{
    display: flex;
    height: 59.714vh;
    width: 100vw;

}

section{
    height: 19.964vh;
    width: 73.264vw;



}
.pavel{
    background: #776969;
}
.durov{
    background: #643030;
}
.ton{
    background: #441818;
}
aside{
    height: 29.902vh;
    width: 26.852vw;
}

.summer{
    background: #937575;
}

.memories{
    background: #644C4C;
}


footer{
    height: 19.964vh;
    width: 100vw;
    background: #BDBDBD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
}

section, aside{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
        font-family: Inter  sans-serif;
        font-size: 45px;
        font-weight: 400;
    
}