body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 70%;
    background-color: blue;
    text-align: center;
}
.main {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 70%;
    margin-top: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkblue;
    height: 100%;
    width: 30%;
    border: 1px solid white;
}
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    width: 70%;
    background-color: blue
}

