*{
    margin: 0;
}

.cards{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-top:64px
}

.card{
    width: 372px;
    text-align: center;
}

.card img{
    width: 100%;
}

.card h3{
    padding-top: 20px;
    color: #000;
    text-align: center;

    /* Text/1 strong */
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.card p{
    padding-top: 15px;
    color: #3C3C43;
    text-align: center;

    /* Capital/1 strong */
    font-family: Inter,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}