body{
    background-color:darkseagreen ;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
}
.card{
    width: 200px;
    height: 200px;
border-radius: 3%;
    background-color: #C8E4C9;
    border: 1px green solid;
    padding: 10px;
    transition: 1s;
}
.card:hover{
    transform: scale(1.2);
}

h1{
    font-size: 20px;
}