.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 50px;
    font-family: "Rubik Pixels", serif;
    font-weight: 400;
    font-style: normal;
}
 .card2{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: burlywood;
     width: 250px;
     height: 200px;
     text-align: center;
     margin: 50px;
         font-family: "Sedgwick Ave Display", serif;
         font-weight: 400;
         font-style: normal;

 }

.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 50px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.card4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 50px;
    font-family: "Fjalla One", serif;
    font-weight: 400;
    font-style: normal;

}

.card5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 50px;
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
}