
.cards{
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card{
    width: 271px;
}

.card h3{
    margin-top: 20px;
    color: #161543;

    /* Text/1 strong */
    font-family: Inter,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
}

.card p{
    margin-top: 10px;
    color: #7687A1;

    /* Text/3 regular */
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}