* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.top, .bot {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.top {
    background-color: pink;
    color: black;
}

.bot {
    background-color: black;
    color: white;
}

h3{
    padding-bottom: 30px;
}